<script src="vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>

<% layout('./layout/page') -%>
<% block('title', error.message); -%>

<p>Извините, произошла ошибка.</p>

<p><%=error.message%></p>